  body {
    margin: 0;
    background-color: rgb(235, 245, 243);
  }
  header {
    margin: 20px ;
    align-items: center;
    justify-content: center;
    font: sans-serif;

  }
  li {
    font:
      1rem "Fira Sans",
      sans-serif;
    margin-bottom: 0.5rem;
  }
  
  p {
    width: 80%;
    margin: 20px;
    padding: 15px;
    border: 1px solid #999;
    text-align: center;
    text-align: justify;
  }

h2
{
  margin: 0.1rem 0;
  font-size: 2rem;
  padding-left: 20px;
}
h1
{
  margin: 0.1rem 0;
  text-align: center;
  font-size: 2rem;
  padding-left: 20px;
}

th,
td {
  border: 2px solid rgb(160 160 160);
  text-align: center;
  padding: 8px 10px;
}

th[scope="col"] {
  background-color: #e61717;
  color: #fff;
}





table {
    margin: 20px;
  border-collapse: collapse;
  border: 5px solid rgb(107, 103, 103);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  
}



tbody {
    background-color: #e4f0f5;
  }

  img {
    padding: 10px;
    margin: 20px;
    
  }

  form {
    width: 500px;
    margin: 10px;
    padding: 20px;
    border: solid 3px;
   
  }

  label {
    font-family: Arial, Helvetica, sans-serif;
  }

  input {
    display: flex;
    margin: 10px 0px 10px;
    padding: 10px;
    width: 500px;
    border-radius: 0.5px;
    box-sizing: border-box;
  }
 
  button {
    color: #e4f0f5;
    width: 80px;
    height: 50px;
    background-color: rgb(78, 161, 78);
  }
  